//@theme "/usr/share/rofi/themes/spotlight-dark.rasi"
//@theme "/usr/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/usr/share/rofi/themes/spotlight-dark.rasi"
//@theme "/usr/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/usr/share/rofi/themes/squared-everforest.rasi"
//@theme "/usr/share/rofi/themes/squared-material-red.rasi"
//@theme "/usr/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/usr/share/rofi/themes/launchpad.rasi"
//@theme "/usr/share/rofi/themes/spotlight-dark.rasi"
//@theme "/usr/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/usr/share/rofi/themes/rounded-orange-dark.rasi"
@theme "/usr/share/rofi/themes/rounded-purple-dark.rasi"
